# Ignore real environment variables file
env/.env

# Ignore executable file
media-renamer.exe
mrenamer.exe

# Ignore common OS and editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/